.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20024e;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .container {
    background-color: #0e0202;
    height:800px;
    margin: 0;
  }
.home {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  }
  .btn {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: #0e0202;
  }

  