/* start of navigation bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20024e;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
  }
  
  li a:hover {
    background-color: #111;
  }
  /* end of navigation bar */
  /* start of home section */
  .container {
    background-color: #0e0202;
    height:500px;
    width: 100%;
    margin: 0;
  }
.home {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  }
  .btn {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    color: #0e0202;
  }
  a:hover {
    background-color: green;
  }
  /* end of home section */
  /* start of about section */
.about {
  height: 500px ;
  background-color: #0e0202;
  display: flex;
}
.about h1 {
  margin-top: 0;
  color: white ;
  margin-left: 50px;
  font-size: 50px;
}
.about p {
  color: white ;
  margin-left: 50px;
  font-size: 30px;
  margin-right: 50px;
  font-family: Garamond, serif;
  
}